<header class="flex items-center justify-center border-b-2 bg-white py-4 gap-10">
    <nav class="flex gap-5">
        <a href="">
            <p class="rounded-lg bg-white p-3 text-black hover:bg-gray-700 hover:text-white">Saldo</p>
        </a>
        <a href="diaristas">
            <p class="rounded-lg bg-white p-3 text-black hover:bg-gray-700 hover:text-white">Diaristas</p>
        </a>
        <a href="mensalistas">
            <p class="rounded-lg bg-white p-3 text-black hover:bg-gray-700 hover:text-white">Mensalistas</p>
        </a>
        <p class="rounded-lg bg-gray-700 p-3 text-white">Churrasco</p>
    </nav>
</header>


<p class="bg-gray-100 text-3xl font-bold text-gray-700 flex justify-center p-14">Churrasco</p>

<section class="flex mt-0 min-h-screen items-start bg-gray-100 justify-center">
    <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
        <h1 class="font-md font-bold">Churrasco Pelada 19/12/2024</h1>
        <div class="mb-4">
            <h1 class="font-sm">Valor: R$30,00</h1>
            <h1 class="font-sm">Total: R$480,00</h1>
            <h1 class="font-sm text-green-500">Total arrecadado: R$480,00</h1>
        </div>
        <ol>
            <li class="text-green-500">Xande</li>
            <li class="text-green-500">Ratão (Pingo)</li>
            <li class="text-green-500">Bigode (JP)</li>
            <li class="text-green-500">Pingo</li>
            <li class="text-green-500">Fuzil (Zé)</li>
            <li class="text-green-500">Ritto (Zé)</li>
            <li class="text-green-500">JP</li>
            <li class="text-green-500">Vitor</li>
            <li class="text-green-500">Diogo</li>
            <li class="text-green-500">Igor</li>
            <li class="text-green-500">Diogo</li>
            <li class="text-green-500">Alex</li>
            <li class="text-green-500">Pirulito</li>
            <li class="text-green-500">Zé</li>
            <li class="text-green-500">Fabio</li>
            <li class="text-green-500">Wanilson</li>
        </ol>
    </div>
    <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
        <h1 class="font-md font-bold">Churrasco Pelada 13/02/2025</h1>
        <div class="mb-4">
            <h1 class="font-sm">Valor Mensal: R$15,00</h1>
            <h1 class="font-sm">Valor Diária: R$25,00</h1>
            <h1 class="font-sm">Total: R$230,00</h1>
            <h1 class="font-sm text-green-500">Total arrecadado: R$230,00</h1>
        </div>
        <ol>
            <li class="text-green-500">Xande</li>
            <li class="text-green-500">Pingo (Diária)</li>
            <li class="text-green-500">JP</li>
            <li class="text-green-500">Diogo</li>
            <li class="text-green-500">Dioguinho</li>
            <li class="text-green-500">Alex</li>
            <li class="text-green-500">Fabio</li>
            <li class="text-green-500">Igor</li>
            <li class="text-green-500">Linnick</li>
            <li class="text-green-500">Wanilson</li>
            <li class="text-green-500">Serginho</li>
            <li class="text-green-500">Robinho</li>
            <li class="text-green-500">Thiaguinho</li>
            <li class="text-green-500">Sócio Wanilson (Diária)</li>
        </ol>
    </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
        <h1 class="font-md font-bold">Churrasco Pelada 15/05/2025</h1>
        <div class="mb-4">
            <h1 class="font-sm">Valor Diária: R$20,00</h1>
            <h1 class="font-sm">Total: R$60,00</h1>
            <h1 class="font-sm text-green-500">Total arrecadado: R$60,00</h1>
        </div>
        <ol>
            <li class="text-green-500">Thiago Riberio</li>
            <li class="text-green-500">Lucas</li>
            <li class="text-green-500">Felipe</li>
        </ol>
    </div>
    <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
        <h1 class="font-md font-bold">Churrasco Pelada 05/06/2025</h1>
        <div class="mb-4">
            <h1 class="font-sm">Valor Diária: R$20,00</h1>
            <h1 class="font-sm">Total: R$80,00</h1>
            <h1 class="font-sm text-green-500">Total arrecadado: R$80,00</h1>
        </div>
        <ol>
            <li class="text-green-500">Ratão</li>
            <li class="text-green-500">Marigol</li>
            <li class="text-green-500">Sergio</li>
            <li class="text-green-500">Bigode</li>
        </ol>
    </div>
    <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
        <h1 class="font-md font-bold">Churrasco Pelada 10/07/2025</h1>
        <div class="mb-4">
            <h1 class="font-sm">Valor Diária: R$20,00</h1>
            <h1 class="font-sm">Total: R$90,00</h1>
            <h1 class="font-sm text-green-500">Total arrecadado: R$90,00</h1>
        </div>
        <ol>
            <li class="text-green-500">Vini</li>
            <li class="text-green-500">Rafael</li>
            <li class="text-green-500">Pedro</li>
            <li class="text-green-500">Yago</li>
            <li class="text-green-500">Amigo Pedro</li>
        </ol>
    </div>
</section>