<div>
    <h1 class="">Pelada</h1>
    <div>
        <div>
            <label for="">Saldo do mes anterior</label>
            <input type="text">
            <button>Inserir</button>
        </div>
        <div>
            <label for="">Quantidade de díaristas</label>
            <input type="text">
            <button>Inserir</button>
        </div>
        <div>
            <label for="">Despesas de Goleiro</label>
            <input type="text">
            <button>Inserir</button>
        </div>
        <div>
            <label for="">Pagamento de Mensal</label>
            <input type="text">
            <button class="">Inserir</button>
        </div>
    </div>
    <table class="m-12">
        <tr class="yellow-header">
            <td>Descrição</td>
            <td>Valor</td>
        </tr>
        <tr>
            <td>Saldo Outubro</td>
            <td>R$ 1.258,00</td>
        </tr>
        <tr>
            <td>Pagantes Outubro</td>
            <td>R$ 200,00</td>
        </tr>
        <tr>
            <td>Mens Outubro</td>
            <td>-R$ 1.600,00</td>
        </tr>
        <tr>
            <td>Goleiros mês</td>
            <td>-R$ 480,00</td>
        </tr>
        <tr>
            <td>Diaristas Outubro</td>
            <td>R$ 00,00</td>
        </tr>
        <tr class="green-footer">
            <td>SALDO TOTAL</td>
            <td>-R$ 622,00</td>
        </tr>
    </table>
</div>
