body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
table {
    margin-top: 20px;
    width: 300px;
    border-collapse: collapse;
    text-align: center;
}
th {
    background-color: #d9e1f2;
    font-size: 20px;
    padding: 8px;
}
td, th {
    border: 1px solid #000;
    padding: 10px;
}
.yellow-header {
    background-color: #ffd966;
    font-weight: bold;
}
.green-footer {
    background-color: red;
    font-weight: bold;
}