<header class="flex items-center justify-center gap-5 border-b-2 bg-white py-4">
    <a href="">
        <p class="rounded-lg bg-white p-3 text-black hover:bg-gray-700 hover:text-white">Saldo</p>
    </a>
    <p class="rounded-lg bg-gray-700 p-3 text-white">Diaristas</p>
    <a href="mensalistas">
        <p class="rounded-lg bg-white p-3 text-black hover:bg-gray-700 hover:text-white">Mensalistas</p>
    </a>
    <a href="churrasco">
        <p class="rounded-lg bg-white p-3 text-black hover:bg-gray-700 hover:text-white">Churrasco</p>
    </a>
</header>

<p class="bg-gray-100 text-3xl font-bold text-gray-700 flex justify-center p-14">Diaristas</p>

<section class="flex flex-col min-h-screen bg-gray-100 gap-20">
    <section class="flex items-start">
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 07/11/2024</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$270,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$270,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Luiz (JP)</li>
                <li class="text-green-500">Vitin (JP)</li>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Cadu (Jp)</li>
                <li class="text-green-500">Lucas (Wanilson)</li>
                <li class="text-green-500">Renato (Wanilson)</li>
                <li class="text-green-500">Serginho (Wanilson)</li>
                <li class="text-green-500">Nenel (Pingo)</li>
                <li class="text-green-500">Douglas (Pingo)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 14/11/2024</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$20,00</h1>
                <h1 class="font-sm">Total: R$200,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$200,00</h1>
            </div>
            <ol>
                <li class="text-green-500">França (JP)</li>
                <li class="text-green-500">Sergio (Xande)</li>
                <li class="text-green-500">Douglas (Pirulito)</li>
                <li class="text-green-500">Manzoni (Pingo)</li>
                <li class="text-green-500">Theo (Pingo)</li>
                <li class="text-green-500">Enzo (Pingo)</li>
                <li class="text-green-500">Be (Pingo)</li>
                <li class="text-green-500">Nenel (Pingo)</li>
                <li class="text-green-500">PH (Pingo)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 21/11/2024</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$230,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$230,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Sergio (Xande)</li>
                <li class="text-green-500">Fuzil (Zé)</li>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Renato (Pingo)</li>
                <li class="text-green-500">Douglas (Pingo)</li>
                <li class="text-green-500">Guilherme (Xande)</li>
                <li class="text-green-500">Nenel (Pingo)</li>
                <li class="text-green-500">Matheus (Serginho)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 28/11/2024</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$20,00</h1>
                <h1 class="font-sm">Total: R$60,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$60,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Guilherme (Xande)</li>
                <li class="text-green-500">Rittoshow (Zé)</li>
                <li class="text-green-500">Nenel (Pingo)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 12/12/2024</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$20,00</h1>
                <h1 class="font-sm">Total: R$120,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$120,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Guilherme (Xande)</li>
                <li class="text-green-500">Renato (Pingo)</li>
                <li class="text-green-500">Douglas (Pingo)</li>
                <li class="text-green-500">Matheus (Pingo)</li>
                <li class="text-green-500">Daniel de Luca (Zé)</li>
                <li class="text-green-500">Felipe de Luca (Zé)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 19/12/2024</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$270,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$240,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Guilherme (Xande)</li>
                <li class="text-green-500">Renato (Pingo)</li>
                <li class="text-green-500">Mariano (Pingo)</li>
                <li class="text-green-500">Douglas (Pirulito)</li>
                <li class="text-green-500">Rittoshow (Zé)</li>
                <li class="text-green-500">Fuzil (Zé)</li>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Ratão (JP)</li>
                <li class="text-green-500">Guilherme (Vitor)</li>
            </ol>
        </div>
    </section>
    <section class="flex items-start mb-10">
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 02/01/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$20,00</h1>
                <h1 class="font-sm">Total: R$220,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$220,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Thiaguinho (Zé)</li>
                <li class="text-green-500">Torvir (Zé)</li>
                <li class="text-green-500">Biel</li>
                <li class="text-green-500">Diogo</li>
                <li class="text-green-500">Bryan (Igor)</li>
                <li class="text-green-500">Nenel (Pingo)</li>
                <li class="text-green-500">Odair (Barba)</li>
                <li class="text-green-500">Samir</li>
                <li class="text-green-500">Breno (Biel)</li>
                <li class="text-green-500">Matheus</li>
                <li class="text-green-500">João (Biel)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 09/01/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$360,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$360,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Ratão (JP)</li>
                <li class="text-green-500">Renato (Pingo)</li>
                <li class="text-green-500">Vitinho Tavares (Zé)</li>
                <li class="text-green-500">Luigi (Zé)</li>
                <li class="text-green-500">Cesao (Barba)</li>
                <li class="text-green-500">Odair (Barba)</li>
                <li class="text-green-500">Lk (Barba)</li>
                <li class="text-green-500">Alfredo (Barba)</li>
                <li class="text-green-500">Portuga (JP)</li>
                <li class="text-green-500">Lucas (Barba)</li>
                <li class="text-green-500">Fernando (Pirulito)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 16/01/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$150,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$150,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Matheus (JP)</li>
                <li class="text-green-500">João V (JP)</li>
                <li class="text-green-500">Renato (Pingo)</li>
                <li class="text-green-500">Douglas (Pirulito)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 23/01/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$20,00</h1>
                <h1 class="font-sm">Total: R$200,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$220,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Renato (Pingo)</li>
                <li class="text-green-500">Dudu (JP)</li>
                <li class="text-green-500">Ratinho (JP)</li>
                <li class="text-green-500">Brivio (JP)</li>
                <li class="text-green-500">Dg (Pingo)</li>
                <li class="text-green-500">Anderson (Xande)</li>
                <li class="text-green-500">Guilherme (Xande)</li>
                <li class="text-green-500">Wander (Jp)</li>
                <li class="text-green-500">Kevin (Vitor) - pagou 30</li>
                <li class="text-green-500">Luis Fernando (Zé) - pagou 30</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 30/01/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$210,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$210,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Gabriel Maia (Renatinho)</li>
                <li class="text-green-500">Guilherme (Renatinho)</li>
                <li class="text-green-500">França (Renatinho)</li>
                <li class="text-green-500">Biel (Wanilson)</li>
                <li class="text-green-500">Thiago (Wanilson)</li>
                <li class="text-green-500">Victor (Zé)</li>
                <li class="text-green-500">Guilherme (Xande)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 06/02/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$210,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$210,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Torvir (Zé)</li>
                <li class="text-green-500">Iglesias (JP)</li>
                <li class="text-green-500">Guilherme (Renatinho)</li>
                <li class="text-green-500">Alex (Renatinho)</li>
                <li class="text-green-500">Thiago (Wanilson)</li>
                <li class="text-green-500">Gabriel Maia (Renatinho)</li>
                <li class="text-green-500">Nikin (Ratinho)</li>
            </ol>
        </div>
    </section>
    <section class="flex items-start mb-10">
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 13/02/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$120,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$120,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Brivio (Ratinho)</li>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Biel (Wanilson)</li>
                <li class="text-green-500">Dudu (Ratinho)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 13/02/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$300,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$300,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Pingo</li>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Brivio (JP)</li>
                <li class="text-green-500">Gabriel (JP)</li>
                <li class="text-green-500">Biel (Wanilson)</li>
                <li class="text-green-500">Vitinho (Thiaguinho)</li>
                <li class="text-green-500">Pitoco (Thiaguinho)</li>
                <li class="text-green-500">Bernardo (Thiaguinho)</li>
                <li class="text-green-500">Anderson (Renatinho)</li>
                <li class="text-green-500">Matheus (Renatinho)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 27/02/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$150,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$150,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Biel (Wanilson)</li>
                <li class="text-green-500">Matheus (Renatinho)</li>
                <li class="text-green-500">Guilherme (Xande)</li>
                <li class="text-green-500">Niquinho (Ratinho)</li>

            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 06/03/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$210,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$210,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Portuga (JP)</li>
                <li class="text-green-500">Brivio (JP)</li>
                <li class="text-green-500">Ryan (JP)</li>
                <li class="text-green-500">Gabriel Cunha (JP)</li>
                <li class="text-green-500">Rodrigo (Robinho)</li>
                <li class="text-green-500">Lucas (Robinho)</li>
                <li class="text-green-500">Pedro (Robinho)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 20/03/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$300,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$300,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Portuga (JP)</li>
                <li class="text-green-500">Guilherme (Xande)</li>
                <li class="text-green-500">Serginho (Xande)</li>
                <li class="text-green-500">Ryan (JP)</li>
                <li class="text-green-500">Pingo</li>
                <li class="text-green-500">Renatinho (JP)</li>
                <li class="text-green-500">Russo (JP)</li>
                <li class="text-green-500">João (Thiago)</li>
                <li class="text-green-500">Felipe (Robinho)</li>
                <li class="text-green-500">Daniel (Robinho)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 27/03/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$300,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$300,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Portuga (JP)</li>
                <li class="text-green-500">Flavio (Xande)</li>
                <li class="text-green-500">Serginho (Xande)</li>
                <li class="text-green-500">Ryan (JP)</li>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Ruan (JP)</li>
                <li class="text-green-500">Bigode (JP)</li>
                <li class="text-green-500">João (Thiago)</li>
                <li class="text-green-500">Felipe (Robinho)</li>
                <li class="text-green-500">Daniel (Robinho)</li>
            </ol>
        </div>
    </section>
    <section class="flex items-start mb-10">
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 03/04/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$240,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$240,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Pingo</li>
                <li class="text-green-500">Lucas Magro (Linnick)</li>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Matheus (JP)</li>
                <li class="text-green-500">João Gabriel (Thiago)</li>
                <li class="text-green-500">Kyan (Thiago)</li>
                <li class="text-green-500">Felipe (Thiago)</li>
                <li class="text-green-500">Daniel (Thiago)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 10/04/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$210,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$210,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Portuga (JP)</li>
                <li class="text-green-500">Lucas (Robinho)</li>
                <li class="text-green-500">Linderman (Thiago)</li>
                <li class="text-green-500">Thiago Ribeiro (Thiago)</li>
                <li class="text-green-500">Yan Esteves (Thiago)</li>
                <li class="text-green-500">Felipe (Thiago)</li>
                <li class="text-green-500">Daniel (Thiago)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 17/04/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$20,00</h1>
                <h1 class="font-sm">Total: R$100,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$100,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Pingo</li>
                <li class="text-green-500">Lucas Tavares (Zé)</li>
                <li class="text-green-500">João Fuzil (Zé)</li>
                <li class="text-green-500">Torvic (Zé)</li>
                <li class="text-green-500">Vitinho (Thiago)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 24/04/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$420,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$420,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Dani (Zé)</li>
                <li class="text-green-500">Lucas Tavares (Zé)</li>
                <li class="text-green-500">João Fuzil (Zé)</li>
                <li class="text-green-500">Torvic (Zé)</li>
                <li class="text-green-500">Vitinho (Zé)</li>
                <li class="text-green-500">Felipe (Zé)</li>
                <li class="text-green-500">Kyan (Zé)</li>
                <li class="text-green-500">Yuri (Zé)</li>
                <li class="text-green-500">João Gabriel (Zé)</li>
                <li class="text-green-500">Serginho (Xande)</li>
                <li class="text-green-500">Matheus (Renatinho)</li>
                <li class="text-green-500">Matheus (Renatinho)</li>
                <li class="text-green-500">Lucas (Thiaguinho)</li>
                <li class="text-green-500">Bigode (JP)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 01/05/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$210,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$210,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Pet (Pedro)</li>
                <li class="text-green-500">Torvic (Zé)</li>
                <li class="text-green-500">Portuga (JP)</li>
                <li class="text-green-500">Pingo</li>
                <li class="text-green-500">Matheus (Renatinho)</li>
                <li class="text-green-500">Lucas (Thiaguinho)</li>
                <li class="text-green-500">Bigode (Diogo)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 08/05/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$270,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$270,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Portuga (JP)</li>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Pedro (Renatinho)</li>
                <li class="text-green-500">Lucas (Wanilson)</li>
                <li class="text-green-500">Pingo</li>
                <li class="text-green-500">Fuzil (Zé)</li>
                <li class="text-green-500">Felipe (Zé)</li>
                <li class="text-green-500">João Victor (Robinho)</li>
                <li class="text-green-500">Gabriel (Robinho)</li>
            </ol>
        </div>
    </section>
    <section class="flex items-start mb-10">
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 15/05/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$150,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$150,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Thiago Ribeiro (Zé)</li>
                <li class="text-green-500">Felipe (Thiaguinho)</li>
                <li class="text-green-500">Vitinho (Thiaguinho)</li>
                <li class="text-green-500">Lucas (Wanilson)</li>
                <li class="text-green-500">Mauricio (Xande)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 22/05/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$270,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$270,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Mauricio(Thiaguinho)</li>
                <li class="text-green-500">Thiago Ribeiro (Zé)</li>
                <li class="text-green-500">João Fuzil (Zé)</li>
                <li class="text-green-500">Lucas (Pedro)</li>
                <li class="text-green-500">Toro (Pedro)</li>
                <li class="text-green-500">Ph (Xande)</li>
                <li class="text-green-500">Mauricio (Xande)</li>
                <li class="text-green-500">Pablo (Xande)</li>
                <li class="text-green-500">Matheus (Renatinho)</li>
            </ol>
        </div>
         <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 29/05/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$210,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$210,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Marigol (Pingo)</li>
                <li class="text-green-500">Pingo</li>
                <li class="text-green-500">Giovanni (Wanilson)</li>
                <li class="text-green-500">Rodrigo (Pedro)</li>
                <li class="text-green-500">Matoso (Pedro)</li>
                <li class="text-green-500">Gabriel (Pedro)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 05/06/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$180,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$180,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Serginho (Xande)</li>
                <li class="text-green-500">Marigol (Pingo)</li>
                <li class="text-green-500">Matheus (Renato)</li>
                <li class="text-green-500">Thaigo Ribeiro (Zé)</li>
                <li class="text-green-500">Matoso (Lucas)</li>
                <li class="text-green-500">Pablo</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 11/06/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$180,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$180,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Serginho (Xande)</li>
                <li class="text-green-500">Nenel (Pingo)</li>
                <li class="text-green-500">Pingo</li>
                <li class="text-green-500">Guilherme (Xande)</li>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Pet (Pedro)</li>
            </ol>
        </div>
         <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 26/06/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$240,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$240,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Thiago (Valério)</li>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Matheus (Renato)</li>
                <li class="text-green-500">Gabriel (Renato)</li>
                <li class="text-green-500">Toró (Lucas)</li>
                <li class="text-green-500">Felipe Fraga (JP)</li>
                <li class="text-green-500">Judeu (Zé)</li>
                <li class="text-green-500">Mattoso (Lucas)</li>
            </ol>
        </div>
    </section>
    <section class="flex items-start mb-10">
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 03/07/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$150,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$150,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Guilherme (Renato)</li>
                <li class="text-green-500">Maia (Renato)</li>
                <li class="text-green-500">Gabriel (Renato)</li>
                <li class="text-green-500">Toró (Lucas)</li>
                <li class="text-green-500">Mattoso (Lucas)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 10/07/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$270,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$270,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Vitinho (Jp)</li>
                <li class="text-green-500">Rafael (Igor)</li>
                <li class="text-green-500">Luiz (Igor)</li>
                <li class="text-green-500">Guilherme (Xande)</li>
                <li class="text-green-500">Nenel (Pingo)</li>
                <li class="text-green-500">Matheus (Jp)</li>
                <li class="text-green-500">Pedro Henrique (Serginho)</li>
                <li class="text-green-500">Yago (Serginho)</li>
                <li class="text-green-500">Torvi (Thiaguinho)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 17/07/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$270,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$270,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Serginho (Xande)</li>
                <li class="text-green-500">Pedro (Serginho)</li>
                <li class="text-green-500">Mateus (Serginho)</li>
                <li class="text-green-500">Guilherme (Xande)</li>
                <li class="text-green-500">Yago (Serginho)</li>
                <li class="text-green-500">Torvi (Thiaguinho)</li>
                <li class="text-green-500">Fuzil (Zé)</li>
                <li class="text-green-500">Vitinho (Jp)</li>
                <li class="text-green-500">Cadu (Xande)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 24/07/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$20,00</h1>
                <h1 class="font-sm">Total: R$120,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$120,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Caio (JP)</li>
                <li class="text-green-500">Sandro (Jp)</li>
                <li class="text-green-500">Matheus (Renatinho)</li>
                <li class="text-green-500">Matheus Ribeiro (Renatinho)</li>
                <li class="text-green-500">Yago (Serginho)</li>
                <li class="text-green-500">Fuzil (Zé)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 31/07/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$180,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$180,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Caio (JP)</li>
                <li class="text-green-500">Sandro (Jp)</li>
                <li class="text-green-500">Matheus (Renatinho)</li>
                <li class="text-green-500">Torvi (Thiaguinho)</li>
                <li class="text-green-500">Lucas Tavares (Zé)</li>
                <li class="text-green-500">Fuzil (Zé)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 07/08/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$180,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$180,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Dani (Felipe)</li>
                <li class="text-green-500">Lucas (Felipe)</li>
                <li class="text-green-500">Thiago (Felipe)</li>
                <li class="text-green-500">Linnick (Serginho)</li>
                <li class="text-green-500">Robinho (Serginho)</li>
                <li class="text-green-500">Fuzil (Felipe)</li>
            </ol>
        </div>
    </section>
    <section class="flex items-start mb-10">
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 14/08/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$90,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$90,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Dani (Felipe)</li>
                <li class="text-green-500">Lucas (Felipe)</li>
                <li class="text-green-500">Linnick (Serginho)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 21/08/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$270,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$270,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Dani (Felipe)</li>
                <li class="text-green-500">Lucas (Felipe)</li>
                <li class="text-green-500">Bigode (JP)</li>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Fuzil (Zé)</li>
                <li class="text-green-500">Thiago (Zé)</li>
                <li class="text-green-500">Toró (Lucas)</li>
                <li class="text-green-500">Guilherme (Xande)</li>
                <li class="text-green-500">Kalut</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 28/08/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$10,00</h1>
                <h1 class="font-sm">Total: R$50,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$50,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Matheus (Renatinho)</li>
                <li class="text-green-500">BL (JP)</li>
                <li class="text-green-500">Pedro Yago (JP)</li>
                <li class="text-green-500">Be (JP)</li>
                <li class="text-green-500">Vitinho (Ph)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 04/09/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$150,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$150,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Pedro</li>
                <li class="text-green-500">Gabriel (Giovanni)</li>
                <li class="text-green-500">Talin (JP)</li>
                <li class="text-green-500">Caio (JP)</li>
                <li class="text-green-500">Vitinho (JP)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 11/09/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$20,00</h1>
                <h1 class="font-sm">Total: R$160,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$160,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Fuzil (Zé)</li>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Bernardo (JP)</li>
                <li class="text-green-500">Nicolas Barba (JP)</li>
                <li class="text-green-500">Lucas Barba (JP)</li>
                <li class="text-green-500">Samuel Barba (JP)</li>
                <li class="text-green-500">Mateus Barba (JP)</li>
                <li class="text-green-500">Brivio (JP)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 18/09/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$120,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$120,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Vitinho (JP)</li>
                <li class="text-green-500">Vitinho (PH)</li>
                <li class="text-green-500">Bigode (JP)</li>
                <li class="text-green-500">Samuel (Barba)</li>
            </ol>
        </div>
    </section>
    <section class="flex items-start mb-10">
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 25/09/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$210,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$210,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Bigode (JP)</li>
                <li class="text-green-500">Rafa (JP)</li>
                <li class="text-green-500">Fuzil (Zé)</li>
                <li class="text-green-500">Maluco de Cinza (PH)</li>
                <li class="text-green-500">Mt (Barba)</li>
                <li class="text-green-500">Samuel (Barba)</li>
                <li class="text-green-500">Flavio (Barba)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 02/10/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$240,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$240,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Torvi (Thiaguinho)</li>
                <li class="text-green-500">Felipe (Thiaguinho)</li>
                <li class="text-green-500">Talin (JP)</li>
                <li class="text-green-500">Mateus (Yago)</li>
                <li class="text-green-500">Amigo Barba (Barba)</li>
                <li class="text-green-500">Lucas</li>
                <li class="text-green-500">Pedro Henrique</li>
                <li class="text-green-500">Yago</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 09/10/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$360,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$360,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Vitnho</li>
                <li class="text-green-500">Samuel</li>
                <li class="text-green-500">Toró</li>
                <li class="text-green-500">Felipe</li>
                <li class="text-green-500">Torvi</li>
                <li class="text-green-500">Thiago</li>
                <li class="text-green-500">Portuga</li>
                <li class="text-green-500">Gabriel</li>
                <li class="text-green-500">Fuzil</li>
                <li class="text-green-500">Lucas</li>
                <li class="text-green-500">Pedro Henrique</li>
                <li class="text-green-500">Yago</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 23/10/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$210,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R210,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Guilherme</li>
                <li class="text-green-500">Caio</li>
                <li class="text-green-500">Talin</li>
                <li class="text-green-500">Rafinha</li>
                <li class="text-green-500">Fuzil</li>
                <li class="text-green-500">Lucas</li>
                <li class="text-green-500">Toró</li>

            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 30/10/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$240,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$240,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Guilherme</li>
                <li class="text-green-500">Vitinho</li>
                <li class="text-green-500">Torvi</li>
                <li class="text-green-500">Linnick</li>
                <li class="text-green-500">Biel</li>
                <li class="text-green-500">Pet</li>
                <li class="text-green-500">Toró</li>
                <li class="text-green-500">Talin</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 06/11/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$300,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$300,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Diego</li>
                <li class="text-green-500">João</li>
                <li class="text-green-500">Fuzil</li>
                <li class="text-green-500">Fabricio</li>
                <li class="text-green-500">Carlos</li>
                <li class="text-green-500">Granada</li>
                <li class="text-green-500">Toró</li>
                <li class="text-green-500">Talin</li>
                <li class="text-green-500">Justino</li>
                <li class="text-green-500">Nenel</li>
            </ol>
        </div>
    </section>
    <section class="flex items-start mb-10">
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 13/11/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$180,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$180,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Vitinho</li>
                <li class="text-green-500">Toró</li>
                <li class="text-green-500">Daniel</li>
                <li class="text-green-500">Justino</li>
                <li class="text-green-500">Gustavo (JP)</li>
                <li class="text-green-500">Pingo</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 04/12/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$210,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$210,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Rafa (JP)</li>
                <li class="text-green-500">Bigode (JP)</li>
                <li class="text-green-500">Toró (Pedro)</li>
                <li class="text-green-500">Iozi (Pedro)</li>
                <li class="text-green-500">Lucas (Pedro)</li>
                <li class="text-green-500">Renan (Pedro)</li>
                <li class="text-green-500">Justino (Pedro)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 11/12/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$90,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$90,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Matheus (Samuel)</li>
                <li class="text-green-500">Thiago Ribeiro (Zé)</li>
                <li class="text-green-500">Justino (Pedro)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 18/12/2025</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$210,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$210,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Dg (JP)</li>
                <li class="text-green-500">Toró (Pedro)</li>
                <li class="text-green-500">Lucas (Pedro)</li>
                <li class="text-green-500">Caio (Pedro)</li>
                <li class="text-green-500">Matoso (Pedro)</li>
                <li class="text-green-500">Mariano (Pingo)</li>
                <li class="text-green-500">Vini</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 08/01/2026</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$90,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$90,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Samuel (JP)</li>
                <li class="text-green-500">Fuzil (Zé)</li>
                <li class="text-green-500">Lucas (Pedro)</li>
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 15/01/2026</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$300,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$300,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Rafa (JP)</li> 
                <li class="text-green-500">Vitor (JP)</li> 
                <li class="text-green-500">Joçao Gabriel (Vitinho)</li> 
                <li class="text-green-500">Tiago (Vitinho)</li> 
                <li class="text-green-500">Samuel (Barba)</li> 
                <li class="text-green-500">Jet (Justino)</li> 
                <li class="text-green-500">Fuzil (Zé)</li> 
                <li class="text-green-500">Lucas Tavares (Zé)</li> 
                <li class="text-green-500">Lucas (Pedro)</li> 
                <li class="text-green-500">Lucas Bragança (Giovanni)</li> 
            </ol>
        </div>
    </section>
    <section class="flex items-start mb-10">
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 22/01/2026</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$240,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$240,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Fuzil (Zé)</li> 
                <li class="text-green-500">Lucas (Zé)</li> 
                <li class="text-green-500">Thiago (Zé)</li> 
                <li class="text-green-500">Caio (Pedro)</li> 
                <li class="text-green-500">Toró (Pedro)</li> 
                <li class="text-green-500">Lucas (Pedro)</li> 
                <li class="text-green-500">Eduardo (JP)</li> 
                <li class="text-green-500">Samuel (Barba)</li> 
            </ol>
        </div>
        <div class="rounded-xl bg-white p-8 shadow-lg mx-8">
            <h1 class="font-md font-bold">Diaristas Pelada 29/01/2026</h1>
            <div class="mb-4">
                <h1 class="font-sm">Valor: R$30,00</h1>
                <h1 class="font-sm">Total: R$90,00</h1>
                <h1 class="font-sm text-green-500">Total arrecadado: R$90,00</h1>
            </div>
            <ol>
                <li class="text-green-500">Fuzil (Zé)</li> 
                <li class="text-green-500">Toró (Pedro)</li> 
                <li class="text-green-500">Eduardo (JP)</li> 
            </ol>
        </div>
    </section>
</section>